*{
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(116,116,116,1) 100%);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}

.box{
    border: 1px solid gray;
    background-color: #292929;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    width: 80%;
    max-width: 350px;
    height: 450px;
}

.down{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
    background-color: #181818;
    margin-top: 50px;
    border-top: 3px solid black;
    box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px black;
    
}
.box-down{
    width: 100%;
}

#information-down{
    margin: 10px 0px 10px 10%;
    font-size: 10pt;
}
#contact{
    font-size: 8pt;
    margin-left: 10%;
}

h1, h4, h2, h3{
    color: white;
    margin: 5px;
    font-family: arial;
    font-weight: initial;
}

h2{
    margin-top: 30px;
    font-weight: bold;
}

h1{
    font-size: 15pt;
    margin-top: 30px;
}

img{
    margin: 20px 0px 0px 0px;
    width: 40%;
}

h4{
    font-size: 10pt;
    margin: 10px 10px 10px 10px;
}

#redirecionar{
    width: 60%;
}


